[submodule "CMSIS-DSP"]
	path = CMSIS-DSP
	url = https://github.com/ARM-software/CMSIS-DSP
[submodule "CMSIS_6"]
	path = CMSIS_6
	url = https://github.com/ARM-software/CMSIS_6
[submodule "mcu/libopencm3"]
	path = mcu/libopencm3
	url = https://github.com/libopencm3/libopencm3
